@tailwind base;
@tailwind components;
@tailwind utilities;

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
